$lightPink: #f1dada;
$pink: #e5989b;
$darkPink: #dd667d;
$rosebud: #bc8f98;
$lightGrey: #bfbdc2;
$grey: #6d6875;
$white: #ffffff;
$black: #2e2e2e;
$green: #40b160;

$background: rgba(241, 218, 218, 0.29);
$backgroundDate: rgba(232, 222, 224, 0.5);
$border: #d7d7d9;
$borderDate: rgba(176, 174, 180, 0.5);
$activeBorder: #bc8f98;
$maxWidth: 500px;

$boxShadow: 0px 1px 2px 0px #00000033;
// $radius: 2.25rem;
$radius: 4px;
$regularRadius: 0.5rem;
$transition: all ease 0.3s;
$scale: scale(1.1);

/* Typography */
$xxs: 12px;
$xs: 13px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$xl: 20px;
$xxl: 24px;
$h1: 32px;

/* BreakPoint */
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tabletS: 550px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 329px;
$laptopL: 1440px;
$desktop: 2560px;
