html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Gill Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	/* margin: 0; */
}

@font-face {
	font-family: 'Gill Sans';
	src: url('/assets/fonts/Gill-Sans/Gill\ Sans.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans';
	src: url('/assets/fonts/Gill-Sans/Gill\ Sans\ Heavy.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans';
	src: url('/assets/fonts/Gill-Sans/Gill\ Sans\ Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans';
	src: url('/assets/fonts/Gill-Sans/GillSansUltraBold.ttf');
	font-weight: 800;
	font-style: normal;
}
