@import './variables';

.primaryButton {
	color: $white;
	font-weight: 800;
	font-size: $xl;
}

.secondaryButton {
	color: $white;
	font-weight: 600;
	font-size: $md;
}

.reverseButton {
	color: $rosebud;
	font-weight: 600;
	font-size: $md;
}
