@import '../../styles/variables';

.container {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	width: 100%;
	color: $black;

	@media (min-width: $laptop) {
		padding: 1.75rem 2rem;
	}
}

.header {
	transition: $transition;

	h1 {
		color: $rosebud;
		font-size: $xxl;
		font-weight: 600;
	}

	@media (min-width: $laptop) {
		display: flex;
		gap: 1rem;

		h1 {
			font-size: $h1;
		}
	}
}

.inner {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media (min-width: $laptop) {
		flex-direction: row;
	}
}

.image {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
	border-radius: $radius;
}

.label {
	color: $grey;
	font-weight: 600;
	font-size: $lg;
}

.under {
	text-decoration: underline;
}

.open {
	color: $green;
	margin: 0 0.5rem;
}

.intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 275px;

	@media (min-width: $laptop) {
		flex: 1;
	}
}

.schedules {
	svg {
		height: 10px;
	}
}

.more {
	@media (min-width: $laptop) {
		flex: 3;
	}
}

.top {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	& > * {
		flex: 1;
	}

	@media (min-width: $laptop) {
		flex-direction: row;
	}

	.affluence > div {
		margin: 1rem 0;
		display: flex;
		width: 100%;
		max-width: 350px;
	}
}

.bottom div {
	display: flex;
	gap: 1rem;
	overflow-x: scroll;

	& > * {
		max-height: 200px;
		height: 200px !important;
	}
}
