@import '../styles/variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 3.5rem);
	transition: $transition;
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width: $laptop) {
		flex-direction: row;

		& > h1 {
			order: 2;
		}

		& > img {
			width: 700px;
			height: 700px;
		}
	}
}

.ldsEllipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.ldsEllipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: $grey;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

// TEST
.loader {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 124px;
	max-width: 124px;
}

.loader div {
	position: relative;
	width: 13px;
	height: 13px;
	border-radius: 25px;
	background: $grey;

	// animation-duration: 3s;
	animation-iteration-count: infinite;
	// animation-fill-mode: both;
	animation-duration: 4s;
}

.loader div:nth-child(1) {
	animation-name: loader1;
}
.loader div:nth-child(2) {
	animation-name: loader2;
	animation-delay: 1s;
	// background: $rosebud;
}
.loader div:nth-child(3) {
	animation-name: loader2;
	animation-delay: 2s;
}
.loader div:nth-child(4) {
	animation-name: loader1;
	animation-delay: 3s;
}

@keyframes loader1 {
	0% {
		width: 13px;
	}
	20% {
		width: 26px;
	}
	40% {
		width: 13px;
	}
}

@keyframes loader2 {
	0% {
		// position: absolute;
		// left: -13px;
		width: 13px;
	}
	20% {
		width: 26px;
	}
	40% {
		width: 13px;
	}
}
