@import '../styles/variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.inner {
	width: 100%;
	flex: 1;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 1rem;

	@media (min-width: $tabletS) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
