@import '../../../styles/variables';

.inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-evenly;
	max-width: $maxWidth;
	align-self: center;
	@media (min-width: $laptop) {
		min-width: 360px;
	}
}

.date,
.time {
	background: $backgroundDate;
	border-radius: $regularRadius;
	box-shadow: $boxShadow;
	padding: 1rem;
}

.date {
	margin: 0;

	div > div {
		width: 100%;
	}

	table {
		width: 100%;
		max-width: 100%;
	}

	thead > tr > th {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		color: $grey;

		span:first-child {
			text-transform: capitalize;
		}
	}

	tbody {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	thead > tr,
	tbody > tr {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
	}

	td > button {
		border: 2px solid $borderDate;
		border-radius: 5px;
		color: $grey;
		background: $white;
		font-size: $sm;
		font-weight: 700;
	}

	& > div > div > div {
		background: $white;
		border-radius: $regularRadius;
		border: 2px solid $borderDate;
		text-align: end;

		display: flex;
		position: relative;
		justify-content: center;
		height: 45px;

		h2 {
			text-transform: capitalize;
			color: $grey;
			font-size: $md;
		}

		div {
			display: flex;
			justify-content: space-between;
			position: absolute;

			button > svg > path {
				fill: $rosebud;
			}
		}
	}
}

.selected:not([disabled]) {
	font-weight: bold;
	color: $rosebud;
	border: 2px solid $rosebud;
	border-radius: 5px;
}
.selected:hover:not([disabled]) {
	border-color: $darkPink;
	color: $darkPink;
}

.today {
	font-size: $md !important;
	color: black !important;
}

.time {
	div {
		color: $grey;
		font-size: $md;
		font-weight: 700;
	}
}

.picker {
	text-align: center;

	input[type='time']::-webkit-calendar-picker-indicator {
		svg {
			fill: $rosebud;
		}

		// background: none;
		// display: none;
	}

	input[type='time'] {
		height: 48px;
		margin: 0.5rem 0;
		padding: 0 1rem;
		font-size: $xxl;
		font-family: 'Gill Sans';
		font-weight: 600;
		border: 2px solid $border;
		border-radius: $regularRadius;
		max-width: 200px;
		width: 100%;
		color: $rosebud;
		// background: none;
	}

	/* Wrapper around the hour, minute, second, and am/pm fields as well as
	the up and down buttons and the 'X' button */
	input[type='time']::-webkit-datetime-edit-fields-wrapper {
		display: flex;
	}

	/* The space between the fields - between hour and minute, the minute and
	second, second and am/pm */
	input[type='time']::-webkit-datetime-edit-text {
		padding: 19px 4px;
	}

	/* The naming convention for the hour, minute, second, and am/pm field is
	`-webkit-datetime-edit-{field}-field` */

	/* Hour */
	input[type='time']::-webkit-datetime-edit-hour-field {
		border-radius: 15%;
		padding: 19px 13px;
	}

	/* Minute */
	input[type='time']::-webkit-datetime-edit-minute-field {
		border-radius: 15%;
		padding: 19px 13px;
	}

	input[type='time']::-webkit-calendar-picker-indicator {
		filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
	}
}
