@import '../../../styles/variables';

.container {
	z-index: 1;
	min-height: calc(100vh - 3.5rem - 76px);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.header {
	@media (min-width: $laptop) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.location {
	width: 32px;
}
