@import '../../../styles/variables';

.inner {
	@media (min-width: $laptop) {
		flex: 1;
		width: 100%;
		display: flex;
		gap: 2rem;

		& > div {
			flex: 1;
		}
	}
}

.images {
	position: relative;
	height: 54px;

	img:first-child {
		position: absolute;
		left: -55px;
		z-index: 1;
	}

	img:last-child {
		position: absolute;
		right: 0;
		top: 1px;
	}
}
