@import '../../../styles/variables';

.inner {
	flex: 1;
	height: 100%;

	max-height: 500px;
	width: 100%;
	max-width: 1000px;
	overflow-x: scroll;
	transition: $transition;

	display: grid;
	align-self: center;
	grid-template-columns: 1fr 1fr 1fr;

	@media (min-width: $tablet) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@media (min-width: $laptop) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.selectedInfos {
	margin-top: 1rem;
	font-size: $sm;
	color: $rosebud;
	text-align: center;

	span {
		font-weight: 600;
	}
}
