@import '../../styles/variables';

.container {
	background: $pink;
	padding: 1rem 2rem;
	margin: 2rem 0;
	border-radius: $radius;
	transition: $transition;
	cursor: pointer;
	width: fit-content;
	align-self: center;

	&:hover {
		background: #dd667d;
	}
}
