@import '../../styles/variables';

.container {
	border: 2px solid $border;
	transition: $transition;
	border-radius: $regularRadius;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	background: $white;
	cursor: pointer;
	margin: 1rem 0;
	padding: 1rem 2rem;

	&:hover {
		border: 2px solid $activeBorder;
	}

	span {
		font-weight: 700;
		font-size: $xl;
		color: $grey;
	}
}

.active {
	border: 2px solid $activeBorder;

	// span {
	// 	color: $activeBorder;
	// }
}
