@import '../../styles/variables';

.container {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 0.75rem;

	div {
		background: $lightGrey;
		height: 8px;
		width: 8px;
		border-radius: 12px;
	}
}

.active {
	width: 16px !important;
}

.actived {
	background: $grey !important;
}
