@import '../../styles/variables';

.container {
	border: 2px solid $border;
	transition: $transition;
	border-radius: $regularRadius;
	min-height: 82px;
	min-width: 74px;
	display: inline-flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: $white;
	cursor: pointer;
	margin: 0.5rem;
	padding: 0.5rem;

	&:hover {
		border: 2px solid $activeBorder;
	}

	span {
		font-weight: 600;
		line-height: 12px;
		font-size: $sm;
		color: $grey;

		&:hover {
			color: $activeBorder;
		}
	}
}

.active {
	border: 2px solid $activeBorder;

	span {
		color: $activeBorder;
	}
}
