@import '../../styles/variables';

.buttons {
	display: flex;
	gap: 2rem;
	@media (min-width: $laptop) {
		align-self: flex-end;
	}
}

.primary {
	background: $rosebud !important;
}

.secondary {
	background: $white !important;
	border: 2px solid $rosebud;
	transition: $transition;
}

.primary,
.secondary {
	&:hover {
		transform: scale(1.01);
	}
}
