@import '../../styles/variables';

.container {
	border-radius: 8px;
	box-shadow: $boxShadow;
	background: $white;

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 300px;
	min-width: 250px;
	// max-width: 350px;
	cursor: pointer;
	transition: $transition;

	&:hover {
		transform: scale(1.01);
	}

	@media (min-width: $tablet) {
		min-width: 300px;
		max-width: 350px;
	}

	h2 {
		color: $rosebud;
		font-size: $md;
		padding: 1rem;
		margin: 0;

		span {
			font-weight: 600;
		}
	}
}

.image {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}

.list {
	display: flex;
	gap: 0.5rem;
	margin: 0.5rem;

	li {
		font-size: $xxs;
		color: $grey;
		font-weight: 600;
	}
}
