@import '../../styles/variables';

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.graph {
	position: relative;
	height: 100px;
	width: 8px;

	.full {
		width: 100%;
		height: 100%;
		background: #fbf4f4;
		border-radius: 2px;
	}

	.percent {
		position: absolute;
		width: 100%;
		bottom: 0;
		border-radius: 2px;
	}
}

.text {
	font-weight: 600;
	font-size: $xs;
	color: $rosebud;
}
