@import '../../styles/variables';

.container {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span {
		color: $rosebud;
		font-size: 400;
		font-size: $sm;
	}
}

.button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background: $lightPink;
	border-radius: $radius;
	border: none;
	transition: $transition;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;

	span {
		color: $grey;
		font-size: $md;
		font-weight: 600;
	}
}
