$transition: all ease 0.3s;
// $backgroundColor: rgba(241, 218, 218, 0.29);
$backgroundColor: #fdf8f8;

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background: $backgroundColor;
	padding: 1.75rem;
}
