@import '../../styles/variables';

.container,
.infos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	height: calc(100vh - 3.5rem);
	@media (min-width: $laptop) {
		display: flex;
		flex-direction: row;

		& > img {
			width: 700px;
			height: 700px;
		}
	}
}

.infos {
	@media (min-width: $laptop) {
		& > div {
			align-self: flex-start;
		}
	}
}
