@import '../../styles/variables';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	justify-content: space-between;
	align-items: center;
	min-height: calc(100vh - 3.5rem);
	width: 100%;
	max-width: $maxWidth;

	@media (min-width: $laptop) {
		max-width: 100%;
		padding: 1.75rem 3.5rem;
	}
}

.image {
	position: absolute;
	bottom: 0;
	left: 0;
}
